[Desktop Entry]
Version=1.0
Type=Application
Name=Stronghold Finder
Comment=Minecraft Stronghold Triangulation Calculator
Exec=bash -c "cd /home/monssif/Desktop/coordinatesapp && source venv/bin/activate && python3 main.py"
Icon=/home/monssif/Desktop/coordinatesapp/icon.png
Terminal=false
Categories=Utility;Development;
