[Desktop Entry]
Version=1.0
Type=Application
Name=Stronghold Finder
Comment=Minecraft Stronghold Triangulation Calculator
Exec=/home/monssif/Desktop/coordinatesapp/.venv/bin/python /home/monssif/Desktop/coordinatesapp/app.py
Icon=/home/monssif/Desktop/coordinatesapp/icon.png
Terminal=false
Categories=Utility;Development;
